
.header{

    background-color: goldenrod;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 6%;
    padding-top: 1%;

}

.grid{

    display: flex;
    background-color: rgb(84, 92, 109);
    justify-content: space-evenly;

}

.info{

    display: flex;
    background-color:yellow;
    justify-content: space-evenly;

}








